[Unit]
Description=Mount NFS Share
After=network.target

[Mount]
What=адресс:/mnt/nfs
Where=/mnt/nfs
Type=nfs
Options=_netdev,auto,nofail

[Install]
WantedBy=multi-user.target
